<div id="select-class" class="notVisible select-option">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <a href="#" title="选择战士" class="active text-center Human-js">
                战士
            </a>
            <a href="#" title="选择盗贼" class="text-center">
                盗贼
            </a>
            <a href="#" title="选择牧师" class="text-center">
                牧师
            </a>
            <a href="#" title="选择法师" class="text-center">
                法师
            </a>
        </div>
        <div class="col-xs-12 col-sm-8 infoSection">
            <div class="classInfo window">
            </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-right" id="selectedClassBtn">下一步: 角色信息</button>
            <button type="button" class="btn btn-default pull-right margin-right-10" id="backToRace">上一步: 修改种族?</button>
        </div>
    </div>
</div>