<div id="select-race" class="select-option">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <a href="#" title="选择人类" class="active text-center Human-js">
                人类
            </a>
            <a href="#" title="选择精灵" class="text-center">
                精灵
            </a>
            <a href="#" title="选择暗精灵" class="text-center">
                暗精灵
            </a>
            <a href="#" title="选择矮人" class="text-center">
                矮人
            </a>
            <a href="#" title="选择喵" class="text-center">
                喵
            </a>

            <a href="#" title="选择特拉洛克" class="text-center">
                特拉洛克
            </a>
        </div>
        <div class="col-xs-12 col-sm-8  infoSection">
            <div class="raceInfo window">
            </div>
           
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-right" id="RaceSelectedBtn">下一步: 选择职业</button>
            <button id="goToLogin" type="button" class="btn btn-default pull-right margin-right-10"><span class="hidden-xs">已有账号? </span>登录</button>
        </div>
    </div>
</div>

